@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html, body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.game-title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
  font-size: 77px;
  font-weight: 900;
  line-height: 114px;
  letter-spacing: -0.04em;
  font-style: normal;
  text-align: center;
  color: white; /* Set the text color to white */
  text-shadow: 
    -5px -5px 0 black,  
    5px -5px 0 black,
    -5px 5px 0 black,
    5px 5px 0 black; 
}

